<section>
  <bg-players 
    [gameSetupDone]="gameSetupDone"
    [gameComplete]="declareWinner"
    (startGame)="startGame()" 
    (startNextRound)="startNextRound()"
    [(roundDone)]="roundDone" 
  ></bg-players>
</section>
<section class="memory-game">
  <form no-validate class="center-block" *ngIf="playerSetDone && cardsArray.length === 0">
    <div class="form-group">
      <label for="noOfCards">Select No Of Cards To Proceed</label>
      <select [(ngModel)]="noOfCards" name="noOfCards" (change)="numberOfCardsSelected()">  
          <option [ngValue]="$index + 1" *ngFor="let card of maxNoOfCards; let $index = index;">  
                {{$index + 1}}  
          </option>  
      </select>
    </div>
  </form>
</section>
<section class="flex-container" *ngIf="!declareWinner">
  <div class="card" *ngFor="let card of cardsArray" (click)="cardSelected(card)">
    <bg-card [card]="card" [roundInProgress]="roundInProgress"></bg-card>
  </div>
</section>
