.flex-container {
    justify-content: space-between;
    flex-wrap: wrap;
}

.even {
    i.fa { color:  #EF3A50; }
}

.odd {
    i.fa { color:  #337ab7; }
}
i.fa {
    display: block;
    font-size: 50px;
}

.player-container {
    width: 200px;
    margin: 0 auto;
    border: 1px solid;
    padding: 10px;
    div {
        width : 48%;
        text-align: center;
    }
    span { 
        display: inherit;
        font-size: 20px;
        word-break: break-word;
    }
    button {
        padding: 0;
    }
}