:host {
    display: block;
    height: 100%;
    div { height: 100%;}
    > div {
        position: relative;
        cursor: pointer;
        background-color: #EF3A50;
        i {
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        div {
            display: none;
            color: #fff;
        }
        &.open {
            cursor: not-allowed;
            i { display: none;}
            div{
                color: #EF3A50;
                background-color: #fff;
                display: block;
            }
        }
        &.round-in-progress { cursor: not-allowed; }
        &.hide {
            cursor: not-allowed;
        }
    }
}