:host {
    display: block;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
input {
    width: 48%;
    margin-bottom: 10px;
}

form button {
    width: 48%; 
}

.flex-container {
    justify-content: space-between;
    flex-wrap: wrap;
}

i.fa {
    display: block;
    font-size: 50px;
    color:  #EF3A50;
}

.player-container {
    width: 200px;
    margin: 0 auto;
    border: 1px solid;
    padding: 10px;
    div {
        width : 48%;
        text-align: center;
    }
    span { 
        display: inherit;
        font-size: 20px;
        word-break: break-word;
    }
    button {
        padding: 0;
    }
}    