<ng-container *ngIf="!namesEntered; else playersInfo;">
  <bg-set-players (playersSet)="onPlayersSet($event)"></bg-set-players>
</ng-container>
<ng-template #playersInfo>
  <bg-play-game 
    [players]="players" 
    [gameSetupDone]="gameSetupDone" 
    [currentPlayerIndex]="currentPlayerIndex"
    [moveInProgress]="moveInProgress"
    (startPlayersTurn)="startPlayersTurn()">
  </bg-play-game>
  <bg-game-result *ngIf="gameComplete" [winnerPlayer]="winnerPlayer" [isDraw]="isDraw"></bg-game-result>
</ng-template>
<div  class="flex-container" >
  <button type="button" class="btn btn-primary center-block mt-1" (click)="restart()">Restart</button>
</div>

